*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-wrap{
    width: 50vw;
    height: 80vh;
    border: 1px solid #8C1AF6;
    border-radius: 20px;
}
.todo-head{
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #8C1AF6;
    margin-bottom: 10px;
}
.todo-head h2{
    color: #8C1AF6;
}
.todo-body{
    height: calc(100% - 58px);
}
.enter-task-wrap{
    display: flex;
}
.input-icon-wrap{
    width: 12%;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    width: 70%;
    padding: 10px 10px;
}
.input-box input{
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #d4d4d4;
    border-radius: 35px;
}
.save-btn-wrap{
    width: 18%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-right{
    display: block;
    width: 35px;
    height: 35px;
    background: url('./images/plus-icon.svg') no-repeat center;
    background-size: 35px auto;
}
.save-btn{
    display: block;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    color: #8C1AF6  ;
}
.todo-body-content{
    max-height: calc(100% - 57px);
    overflow-y: auto;
}
.todo-body-content li{
    display: flex;
    margin-bottom: 15px;
}
.serial-no{
    display: flex;
    padding: 10px;
    width: 12%;
    justify-content: center;
    align-items: center;
    color: #8C1AF6 ;
    font-size: 16px;
}
.task-content{
    width: 70%;
    padding: 10px;
    display: block;
    font-size: 16px;
    background-color: #d4d4d4;
    color: #8C1AF6;
    border-radius: 35px;
    overflow-x: auto;
    font-weight: 600;
}
.task-content::-webkit-scrollbar {
    display: none;
  }
  
  .task-content {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
.delete-btn{
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dlt-icon{
    display: block;
    background: url('./images/delete-icon.svg') no-repeat center;
    background-size: 25px auto;
    width: 35px;
    height: 35px;
    border: 1px solid #EA3323;
    border-radius: 5px;
}
.check-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}
.check-wrap input{
    outline: none;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

